:root {
    --color-primary: #6b214f;
    --color-primary-light: #9c386f;
    --color-text: #281b26;
    --color-text-muted: #665862;
    --color-background: #fff8fb;
    --color-surface: #ffffff;
    --color-accent: #852894;
    --color-border: #ead8e1;
}
