/* Color tokens: define all color values for the site.
   Name by purpose (--color-primary, --color-surface)
   not appearance (--blue, --light-gray). */
:root {
    /* TODO: Define color tokens here */
    --color-bg: #fbf9f0;
    --color-primary: #283618;
    --color-text: #bc6c25;
    /* --color-primary: #bc6c25;
    --color-text: #283618; */
    --color-secondary-accent: #606c38;
}
