/* Card components: .card-group, .cards grid, .card, .card-tag, .card-footer
   Use native nesting. Reference tokens with var(). */

/* TODO: Style the card components */
.card-group {
   .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: calc(var(--space-md) * .8);
      .card {
         border: 3px solid var(--color-secondary-accent);
         border-radius: var(--border-radius);
         padding: var(--space-md);
         .card-tag {
            font-style: italic;
         }
         .card-footer {
            display: flex;
            justify-content: space-between;
         }
      }
   }
}