/* Navigation component: .site-nav and its links
   Style the active link using aria-current. */

/* TODO: Style the navigation */
nav {
   padding: var(--space-md);
   width: min(100%, 64rem);
   @media (min-width: 600px) {
         display: flex;
         margin: 0 auto;
         justify-content: space-between;
      }
   a {
      background-color: var(--color-secondary-accent);
      color: var(--color-bg);
      border-radius: var(--border-radius);
      padding: 0 var(--space-md);
      text-decoration: none;
      &:hover {
         color: var(--color-text);
         background-color: var(--color-bg);
         border: 2px solid var(--color-secondary-accent);
      }
   }
   ul {
      margin-top: var(--space-sm);
      list-style-type: none;
      display: flex;
      gap: 6px;
      flex-direction: column;
      @media (min-width: 600px) {
         flex-direction: row;
         margin-top: 0;
      }
   }
}