/* Temple list component: .temples, .temple-name, .temple-status
   Style the status badges differently based on class (.open, .construction). */

/* TODO: Style the temple list */
.temples {
   list-style-type: "✨";
   padding-left: var(--space-lg);
   font-size: clamp(var(--font-size-md), 4vw, var(--font-size-lg));
   .open {
      font-weight: bold;
   }
   .construction {
      font-style: italic;
   }
}