nav {
   padding: var(--space-md);
   width: auto;
   /* @media (min-width: 600px) {
         display: flex;
         margin: 0 auto;
         justify-content: space-between;
      } */
   a {
      background-color: var(--color-secondary-accent);
      color: var(--color-bg);
      border-radius: var(--space-sm);
      padding: 0 var(--space-md);
      text-decoration: none;
      &:hover {
         color: var(--color-text);
         background-color: var(--color-bg);
         border: 2px solid transparent;
         border-color: var(--color-secondary-accent);
      }
   }
   ul {
      margin-top: var(--space-sm);
      list-style-type: none;
      display: flex;
      gap: var(--space-sm);
      flex-direction: row;
      @media (min-width: 600px) {
        text-align: right;
        flex-direction: column;
        margin-top: 0;
      }
   }
}